<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head') %>
<body>
    <% if(locals && locals.usuarios) { %>
        <% if(usuarios.length == 0) { %>
            <p>No existen usuarios para mostrar</p>
        <% } else { %>
            <h1>Listado de Usuarios</h1>
            <% usuarios.forEach(function(item) { %>
                <h2>Documento</h2>
                <div>
                   <%= item.documento %>
                </div>
                <h2>Nombre</h2>
                <div>
                    <%= item.nombre %>
                 </div>
                 <h2>Preferencia</h2>
                 <div>
                    <%= item.opcionvista %>
                 </div>
                 <h2>Imagen de Usuario</h2>
                 <div>
                    <img src="<%= item.imagenusuario%>" alt="">
                 </div>
                 <br>
            <% }) %>
        <% } %>
    <% } %>
</body>
</html>